<!doctype html>
<html>
<body background="https://media3.giphy.com/media/l0NwQiTooHUjYZXtm/giphy.gif?cid=790b76118176b20e7ad37ba320f0fa1bfc01e673deaea80c&rid=giphy.gif&ct=g">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Base de datos</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="page-header text-center">
          <h1>Algoritmo Knn</h1>
        </div>
        <div class="content container col-lg-10 mx-auto text-align-center">
            <br>Paso 1: Ingresar el numero de K vecinas
            <br>Paso 2: Ingrese las variables correspondientes para X1, X2 y X3</p>
        </div>

        <div class="content container">
          <div class="col-lg-10 mx-auto">
            <form action="/buscar/" method="GET" class="row g-3 needs-validation" novalidate>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip01" class="form-label">K</label>
                <input type="text" name ='k' class="form-control" id="validationTooltip01" required>
                <div class="valid-tooltip">
                </div>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip02" class="form-label">X1</label>
                <input type="text" name ='x1' class="form-control" id="validationTooltip02" required>
                <div class="valid-tooltip">
                </div>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip02" class="form-label">X2</label>
                <input type="text" name ='x2' class="form-control" id="validationTooltip02" required>
                <div class="valid-tooltip">
                </div>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip02" class="form-label">X3</label>
                <input type="text" name ='x3' class="form-control" id="validationTooltip02" required>
                <div class="valid-tooltip">
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit" value="Buscar">Clasificar</button>
              </div>
            </form>
              {% comment %} {{datos}} {% endcomment %}
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    
    </body>
</body>
</html>